smpkpidatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "smpkpidatafactory"
		},
		"KPISqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KPISqlDB'"
		},
		"KPISqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KPISqlServer'"
		},
		"KPISqlServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'KPISqlServer'"
		},
		"smpkpi_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'smpkpi'"
		},
		"KPISqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DanS"
		},
		"hourly_mims_archive_properties_Copy Source to Archive_parameters_FolderPath_Source": {
			"type": "string",
			"defaultValue": "mims"
		},
		"hourly_mims_archive_properties_Copy Source to Archive_parameters_LastModified_From": {
			"type": "string",
			"defaultValue": "2022-01-01"
		},
		"hourly_mims_archive_properties_Copy Source to Archive_parameters_LastModified_To": {
			"type": "string",
			"defaultValue": "2099-01-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KPISqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('KPISqlDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KPISqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "link to KPI Sql Server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('KPISqlServer_connectionString')]",
					"userName": "[parameters('KPISqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('KPISqlServer_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/smpkpi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "KPI Blob storage",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('smpkpi_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily_MIMS_archive')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "auto archive",
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2022-01-07T18:48:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeAzure')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADcredential')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Active Directory credentials ",
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/5e4be3e5-0651-45cc-928f-1d9067cc4e52/resourcegroups/AOP/providers/Microsoft.ManagedIdentity/userAssignedIdentities/SMPKPIDataFactoryManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobArchive_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "archive"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageRoot')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MIMSExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Core_KPI_File_allloads_Nov01_2021_to_Nov30_2021.xlsx",
						"container": "mims"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "CoopID",
						"type": "String"
					},
					{
						"name": "CoopName",
						"type": "String"
					},
					{
						"name": "ProdID",
						"type": "String"
					},
					{
						"name": "ProdName",
						"type": "String"
					},
					{
						"name": "ManifestNum",
						"type": "String"
					},
					{
						"name": "LT_No",
						"type": "String"
					},
					{
						"name": "CustID",
						"type": "String"
					},
					{
						"name": "CustName",
						"type": "String"
					},
					{
						"name": "HaulerID",
						"type": "String"
					},
					{
						"name": "HaulerName",
						"type": "String"
					},
					{
						"name": "ScaleHeavy",
						"type": "String"
					},
					{
						"name": "SchPickUpDate",
						"type": "String"
					},
					{
						"name": "ActualPickUpDate",
						"type": "String"
					},
					{
						"name": "SchDeliveryDate",
						"type": "String"
					},
					{
						"name": "ActualDeliveryDate",
						"type": "String"
					},
					{
						"name": "RouteNum",
						"type": "String"
					},
					{
						"name": "Rejected",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MimsArchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data destination store.  ",
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "archive",
							"type": "Expression"
						},
						"container": {
							"value": "mims",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_tblService')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KPISqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CoopID",
						"type": "nvarchar"
					},
					{
						"name": "CoopName",
						"type": "nvarchar"
					},
					{
						"name": "ProdID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ProdName",
						"type": "nvarchar"
					},
					{
						"name": "ManifestNum",
						"type": "nvarchar"
					},
					{
						"name": "LT_No",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CustID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CustName",
						"type": "nvarchar"
					},
					{
						"name": "HaulerID",
						"type": "nvarchar"
					},
					{
						"name": "HaulerName",
						"type": "nvarchar"
					},
					{
						"name": "ScaleHeavy",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SchPickUpDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActualPickUpDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SchDeliveryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActualDeliveryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RouteNum",
						"type": "nvarchar"
					},
					{
						"name": "Rejected",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ServiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datasource",
						"type": "nvarchar"
					},
					{
						"name": "Updated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Stage_tblService"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KPISqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/a_tblService')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KPISqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CoopID",
						"type": "nvarchar"
					},
					{
						"name": "CoopName",
						"type": "nvarchar"
					},
					{
						"name": "ProdID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ProdName",
						"type": "nvarchar"
					},
					{
						"name": "ManifestNum",
						"type": "nvarchar"
					},
					{
						"name": "LT_No",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CustID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CustName",
						"type": "nvarchar"
					},
					{
						"name": "HaulerID",
						"type": "nvarchar"
					},
					{
						"name": "HaulerName",
						"type": "nvarchar"
					},
					{
						"name": "ScaleHeavy",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SchPickUpDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActualPickUpDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SchDeliveryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActualDeliveryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RouteNum",
						"type": "nvarchar"
					},
					{
						"name": "Rejected",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ServiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Datasource",
						"type": "nvarchar"
					},
					{
						"name": "Updated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "_tblService"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KPISqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Source to Archive')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new and changed files only by using LastModifiedDate",
				"activities": [
					{
						"name": "Copy MIMSxls to Archive",
						"description": "Copy new and changed files only by using LastModifiedDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@{pipeline().parameters.LastModified_From}",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@{pipeline().parameters.LastModified_To}",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BlobStorageRoot",
								"type": "DatasetReference",
								"parameters": {
									"Container": "@pipeline().parameters.FolderPath_Source"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobArchive_Binary",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Cleanup_Archive",
						"description": "delete \"Processed_\" files, maybe add rule for deleting only \"older than xx/xx\" or limit to 15 latest files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy MIMSxls to Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BlobArchive_Binary",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "smpkpi",
									"type": "LinkedServiceReference"
								},
								"path": "processlogs"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"modifiedDatetimeEnd": {
									"value": "@{addDays(pipeline().TriggerTime, -30)}",
									"type": "Expression"
								},
								"wildcardFileName": "*",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FolderPath_Source": {
						"type": "String",
						"defaultValue": "sourcefolder"
					},
					"LastModified_From": {
						"type": "String",
						"defaultValue": "2022-01-01T00:00:00Z"
					},
					"LastModified_To": {
						"type": "String",
						"defaultValue": "2099-03-01T00:00:00Z"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BlobStorageRoot')]",
				"[concat(variables('factoryId'), '/datasets/BlobArchive_Binary')]",
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete tblService Rows')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "a_tblService",
								"type": "DatasetReference"
							},
							"name": "tblServiceBeforeDel"
						},
						{
							"dataset": {
								"referenceName": "MIMSExcel",
								"type": "DatasetReference"
							},
							"name": "MIMS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "a_tblService",
								"type": "DatasetReference"
							},
							"name": "tblService"
						}
					],
					"transformations": [
						{
							"name": "AlterRow2"
						},
						{
							"name": "SchPickUpDatetoDate"
						},
						{
							"name": "SchPickUpDate"
						},
						{
							"name": "MinMaxSchPickUpDates"
						},
						{
							"name": "Exists1"
						}
					],
					"script": "parameters{\n\tMinSchPickUpDate as string (\"2021-10-30 00:00:00.000\"),\n\tMaxSchPickUpDate as string (\"2021-10-30 23:45:00.000\")\n}\nsource(output(\n\t\tCoopID as string,\n\t\tCoopName as string,\n\t\tProdID as double,\n\t\tProdName as string,\n\t\tManifestNum as string,\n\t\tLT_No as double,\n\t\tCustID as double,\n\t\tCustName as string,\n\t\tHaulerID as string,\n\t\tHaulerName as string,\n\t\tScaleHeavy as double,\n\t\tSchPickUpDate as timestamp,\n\t\tActualPickUpDate as timestamp,\n\t\tSchDeliveryDate as timestamp,\n\t\tActualDeliveryDate as timestamp,\n\t\tRouteNum as string,\n\t\tRejected as double,\n\t\tServiceID as integer,\n\t\tDatasource as string,\n\t\tUpdated as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> tblServiceBeforeDel\nsource(output(\n\t\tCoopID as string,\n\t\tCoopName as string,\n\t\tProdID as string,\n\t\tProdName as string,\n\t\tManifestNum as string,\n\t\tLT_No as string,\n\t\tCustID as string,\n\t\tCustName as string,\n\t\tHaulerID as string,\n\t\tHaulerName as string,\n\t\tScaleHeavy as string,\n\t\tSchPickUpDate as string,\n\t\tActualPickUpDate as string,\n\t\tSchDeliveryDate as string,\n\t\tActualDeliveryDate as string,\n\t\tRouteNum as string,\n\t\tRejected as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true) ~> MIMS\nExists1 alterRow(deleteIf(SchPickUpDate>=toTimestamp($MinSchPickUpDate,\"yyyy-MM-dd HH:mm:ss.SSS\")&&SchPickUpDate<=toTimestamp($MaxSchPickUpDate,\"yyyy-MM-dd HH:mm:ss.SSS\"))) ~> AlterRow2\nSchPickUpDate derive(SchPickUpDate = iif(length(SchPickUpDate)>10, toTimestamp(SchPickUpDate,\"yyyy-MM-dd\\'T\\'HH:mm:ss\"), toTimestamp(concat(SchPickUpDate,\"T00:00:00.000Z\"),\"yyyy-MM-dd\\'T\\'HH:mm:ss\")   )) ~> SchPickUpDatetoDate\nMIMS select(mapColumn(\n\t\tSchPickUpDate\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SchPickUpDate\nSchPickUpDatetoDate aggregate(minSchPickUpDate = min(SchPickUpDate),\n\t\tmaxSchPickUpDate = max(SchPickUpDate)) ~> MinMaxSchPickUpDates\ntblServiceBeforeDel, MinMaxSchPickUpDates exists(SchPickUpDate>=minSchPickUpDate && SchPickUpDate<=maxSchPickUpDate,\n\tnegate:false,\n\tbroadcast: 'auto')~> Exists1\nAlterRow2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCoopID as string,\n\t\tCoopName as string,\n\t\tProdID as double,\n\t\tProdName as string,\n\t\tManifestNum as string,\n\t\tLT_No as double,\n\t\tCustID as double,\n\t\tCustName as string,\n\t\tHaulerID as string,\n\t\tHaulerName as string,\n\t\tScaleHeavy as double,\n\t\tSchPickUpDate as timestamp,\n\t\tActualPickUpDate as timestamp,\n\t\tSchDeliveryDate as timestamp,\n\t\tActualDeliveryDate as timestamp,\n\t\tRouteNum as string,\n\t\tRejected as double,\n\t\tServiceID as integer,\n\t\tDatasource as string,\n\t\tUpdated as timestamp\n\t),\n\tdeletable:true,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:false,\n\tkeys:['ServiceID'],\n\tskipKeyWrites:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tCoopID,\n\t\tCoopName,\n\t\tProdID,\n\t\tProdName,\n\t\tManifestNum,\n\t\tLT_No,\n\t\tCustID,\n\t\tCustName,\n\t\tHaulerID,\n\t\tHaulerName,\n\t\tScaleHeavy,\n\t\tSchPickUpDate,\n\t\tActualPickUpDate,\n\t\tSchDeliveryDate,\n\t\tActualDeliveryDate,\n\t\tRouteNum,\n\t\tRejected,\n\t\tServiceID,\n\t\tDatasource,\n\t\tUpdated\n\t)) ~> tblService"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/a_tblService')]",
				"[concat(variables('factoryId'), '/datasets/MIMSExcel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MIMS Insert to tblService')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MIMSExcel",
								"type": "DatasetReference"
							},
							"name": "MIMSservice"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "a_tblService",
								"type": "DatasetReference"
							},
							"name": "tblService",
							"rejectedDataLinkedService": {
								"referenceName": "smpkpi",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "DateConversions"
						}
					],
					"script": "parameters{\n\tDatasource as string\n}\nsource(output(\n\t\tCoopID as string,\n\t\tCoopName as string,\n\t\tProdID as float,\n\t\tProdName as string,\n\t\tManifestNum as string,\n\t\tLT_No as float,\n\t\tCustID as float,\n\t\tCustName as string,\n\t\tHaulerID as string,\n\t\tHaulerName as string,\n\t\tScaleHeavy as float,\n\t\tSchPickUpDate as string,\n\t\tActualPickUpDate as string,\n\t\tSchDeliveryDate as string,\n\t\tActualDeliveryDate as string,\n\t\tRouteNum as string,\n\t\tRejected as float\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: true,\n\trowUrlColumn: 'Datasource',\n\twildcardPaths:['*.xlsx']) ~> MIMSservice\nMIMSservice derive(Updated = currentTimestamp(),\n\t\tSchPickUpDate = iif(length(SchPickUpDate)>10, toTimestamp(SchPickUpDate,\"yyyy-MM-dd\\'T\\'HH:mm:ss\"), toTimestamp(concat(SchPickUpDate,\"T00:00:00.000Z\"),\"yyyy-MM-dd\\'T\\'HH:mm:ss\")   ),\n\t\tActualPickUpDate = iif(length(ActualPickUpDate)>10, toTimestamp(ActualPickUpDate,\"yyyy-MM-dd\\'T\\'HH:mm:ss\"), toTimestamp(concat(ActualPickUpDate,\"T00:00:00.000Z\"),\"yyyy-MM-dd\\'T\\'HH:mm:ss\")   ),\n\t\tSchDeliveryDate = iif(length(SchDeliveryDate)>10, toTimestamp(SchDeliveryDate,\"yyyy-MM-dd\\'T\\'HH:mm:ss\"), toTimestamp(concat(SchDeliveryDate,\"T00:00:00.000Z\"),\"yyyy-MM-dd\\'T\\'HH:mm:ss\")   ),\n\t\tActualDeliveryDate = iif(length(ActualDeliveryDate)>10, toTimestamp(ActualDeliveryDate,\"yyyy-MM-dd\\'T\\'HH:mm:ss\"), toTimestamp(concat(ActualDeliveryDate,\"T00:00:00.000Z\"),\"yyyy-MM-dd\\'T\\'HH:mm:ss\")   )) ~> DateConversions\nDateConversions sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tCoopID as string,\n\t\tCoopName as string,\n\t\tProdID as double,\n\t\tProdName as string,\n\t\tManifestNum as string,\n\t\tLT_No as double,\n\t\tCustID as double,\n\t\tCustName as string,\n\t\tHaulerID as string,\n\t\tHaulerName as string,\n\t\tScaleHeavy as double,\n\t\tSchPickUpDate as timestamp,\n\t\tActualPickUpDate as timestamp,\n\t\tSchDeliveryDate as timestamp,\n\t\tActualDeliveryDate as timestamp,\n\t\tRouteNum as string,\n\t\tRejected as double,\n\t\tServiceID as integer,\n\t\tDatasource as string,\n\t\tUpdated as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tdateFormat:'yyyy-MM-dd',\n\ttimestampFormat:'HH:mm:ss',\n\tbooleanFormat: ['1', '0'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'allErrors',\n\toutputRejectedData: true,\n\trejectedData_container: 'processlogs',\n\trejectedData_folderPath: 'rejectedRecords',\n\ttransactionCommit: 'single',\n\treportSuccessOnError: true,\n\tmapColumn(\n\t\tCoopID,\n\t\tCoopName,\n\t\tProdID,\n\t\tProdName,\n\t\tManifestNum,\n\t\tLT_No,\n\t\tCustID,\n\t\tCustName,\n\t\tHaulerID,\n\t\tHaulerName,\n\t\tScaleHeavy,\n\t\tSchPickUpDate,\n\t\tActualPickUpDate,\n\t\tSchDeliveryDate,\n\t\tActualDeliveryDate,\n\t\tRouteNum,\n\t\tRejected,\n\t\tDatasource,\n\t\tUpdated\n\t)) ~> tblService"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MIMSExcel')]",
				"[concat(variables('factoryId'), '/datasets/a_tblService')]",
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prep MIMS data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "MIMSExcel",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> MIMSExcel",
							"dataset": {
								"referenceName": "MIMSExcel",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared MIMSExcel_Nov30_2021 = let\r\n  AdfDoc = AzureStorage.BlobContents(\"https://smpkpi.blob.core.windows.net/mims/Core_KPI_File_allloads_Nov01_2021_to_Nov30_2021.xlsx\"),\r\n  Excel = Excel.Workbook(AdfDoc),\r\n  ExcelSheet = Excel{[Item=Excel{0}[Item],Kind=\"Sheet\"]}[Data],\r\n  PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true])\r\nin\r\n  PromotedHeaders;\r\nshared UserQuery = let\r\n  Source = MIMSExcel_Nov30_2021\r\nin\r\n  Source;\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MIMSExcel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MIMS to Sql Server')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "process MIMS xls from blob to SqlDB tblService",
				"activities": [
					{
						"name": "Get File Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "MIMSExcel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "MIMS Insert to tblService",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Get File Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MIMS Insert to tblService",
								"type": "DataFlowReference",
								"parameters": {
									"Datasource": {
										"value": "@activity('Get File Metadata').output.itemName",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"MIMSservice": {},
									"tblService": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MIMSExcel')]",
				"[concat(variables('factoryId'), '/dataflows/MIMS Insert to tblService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test delete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "process MIMS xls from blob to SqlDB tblService",
				"activities": [
					{
						"name": "Delete tblService Rows_copy1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Delete tblService Rows",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"tblServiceBeforeDel": {},
									"MIMS": {},
									"tblService": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Delete tblService Rows')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hourly_mims_archive')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Copy Source to Archive",
							"type": "PipelineReference"
						},
						"parameters": {
							"FolderPath_Source": "[parameters('hourly_mims_archive_properties_Copy Source to Archive_parameters_FolderPath_Source')]",
							"LastModified_From": "[parameters('hourly_mims_archive_properties_Copy Source to Archive_parameters_LastModified_From')]",
							"LastModified_To": "[parameters('hourly_mims_archive_properties_Copy Source to Archive_parameters_LastModified_To')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2022-01-10T15:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy Source to Archive')]"
			]
		}
	]
}