pipeline/MIMS to Sql Server.json
{
	"name": "MIMS to Sql Server",
	"properties": {
		"description": "process MIMS xls from blob to SqlDB tblService",
		"activities": [
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete tblService Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MIMSExcel",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "MIMS Insert to tblService",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "MIMS Insert to tblService",
						"type": "DataFlowReference",
						"parameters": {
							"Datasource": {
								"value": "@activity('Get File Metadata').output.itemName",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy MIMSxls to Archive",
				"description": "Copy new and changed files only by using LastModifiedDate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MIMS Insert to tblService",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@{pipeline().parameters.LastModified_From}",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@{pipeline().parameters.LastModified_To}",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "smpkpi",
								"type": "LinkedServiceReference"
							},
							"path": "processlogs"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BlobStorageRoot",
						"type": "DatasetReference",
						"parameters": {
							"Container": "@pipeline().parameters.FolderPath_Source"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BlobArchive_Binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Cleanup_Archive",
				"description": "delete \"Processed_\" files, maybe add rule for deleting only \"older than xx/xx\" or limit to 15 latest files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy MIMSxls to Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobArchive_Binary",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "smpkpi",
							"type": "LinkedServiceReference"
						},
						"path": "processlogs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"modifiedDatetimeEnd": {
							"value": "@{addDays(pipeline().TriggerTime, -30)}",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete tblService Rows",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Delete tblService Rows",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"LastModified_From": {
				"type": "string"
			},
			"LastModified_To": {
				"type": "string"
			},
			"FolderPath_Source": {
				"type": "string"
			}
		},
		"annotations": []
	}
}