smpkpidatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "smpkpidatafactory"
		},
		"KPISqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'KPISqlServer'"
		},
		"KPISqlServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'KPISqlServer'"
		},
		"smpkpi_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'smpkpi'"
		},
		"KPISqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DanS"
		},
		"daily_MIMS_archive_properties_pipeline_parameters_FolderPath_Source": {
			"type": "string",
			"defaultValue": "mims"
		},
		"daily_MIMS_archive_properties_pipeline_parameters_LastModified_From": {
			"type": "string",
			"defaultValue": "2022-01-01"
		},
		"daily_MIMS_archive_properties_pipeline_parameters_LastModified_To": {
			"type": "string",
			"defaultValue": "2022-03-01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy Source to Archive')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new and changed files only by using LastModifiedDate",
				"activities": [
					{
						"name": "Copy MIMSxls to Archive",
						"description": "Copy new and changed files only by using LastModifiedDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@{pipeline().parameters.LastModified_From}",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@{pipeline().parameters.LastModified_To}",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BlobStorageRoot",
								"type": "DatasetReference",
								"parameters": {
									"Container": "@pipeline().parameters.FolderPath_Source"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobArchive_Binary",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Cleanup_Archive",
						"description": "delete \"Processed_\" files, maybe add rule for deleting only \"older than xx/xx\" or limit to 15 latest files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy MIMSxls to Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BlobArchive_Binary",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "smpkpi",
									"type": "LinkedServiceReference"
								},
								"path": "processlogs"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"modifiedDatetimeEnd": {
									"value": "@{addDays(pipeline().TriggerTime, -30)}",
									"type": "Expression"
								},
								"wildcardFileName": "*",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"FolderPath_Source": {
						"type": "String",
						"defaultValue": "sourcefolder"
					},
					"LastModified_From": {
						"type": "String",
						"defaultValue": "2022-01-01T00:00:00Z"
					},
					"LastModified_To": {
						"type": "String",
						"defaultValue": "2099-03-01T00:00:00Z"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BlobStorageRoot')]",
				"[concat(variables('factoryId'), '/datasets/BlobArchive_Binary')]",
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobArchive_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "archive"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageRoot')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MIMSExcel_Nov30_2021')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Core_KPI_File_allloads_Nov01_2021_to_Nov30_2021.xlsx",
						"container": "mims"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "CoopID",
						"type": "String"
					},
					{
						"name": "CoopName",
						"type": "String"
					},
					{
						"name": "ProdID",
						"type": "String"
					},
					{
						"name": "ProdName",
						"type": "String"
					},
					{
						"name": "ManifestNum",
						"type": "String"
					},
					{
						"name": "LT_No",
						"type": "String"
					},
					{
						"name": "CustID",
						"type": "String"
					},
					{
						"name": "CustName",
						"type": "String"
					},
					{
						"name": "HaulerID",
						"type": "String"
					},
					{
						"name": "HaulerName",
						"type": "String"
					},
					{
						"name": "ScaleHeavy",
						"type": "String"
					},
					{
						"name": "SchPickUpDate",
						"type": "String"
					},
					{
						"name": "ActualPickUpDate",
						"type": "String"
					},
					{
						"name": "SchDeliveryDate",
						"type": "String"
					},
					{
						"name": "ActualDeliveryDate",
						"type": "String"
					},
					{
						"name": "RouteNum",
						"type": "String"
					},
					{
						"name": "Rejected",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MimsArchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data destination store.  ",
				"linkedServiceName": {
					"referenceName": "smpkpi",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "archive",
							"type": "Expression"
						},
						"container": {
							"value": "mims",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/smpkpi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KPISqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "link to KPI Sql Server",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('KPISqlServer_connectionString')]",
					"userName": "[parameters('KPISqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('KPISqlServer_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/smpkpi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "KPI Blob storage",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('smpkpi_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily_MIMS_archive')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "auto archive",
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Copy Source to Archive",
						"type": "PipelineReference"
					},
					"parameters": {
						"FolderPath_Source": "[parameters('daily_MIMS_archive_properties_pipeline_parameters_FolderPath_Source')]",
						"LastModified_From": "[parameters('daily_MIMS_archive_properties_pipeline_parameters_LastModified_From')]",
						"LastModified_To": "[parameters('daily_MIMS_archive_properties_pipeline_parameters_LastModified_To')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2022-01-07T18:48:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy Source to Archive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeAzure')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prep MIMS data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "MIMSExcel",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> MIMSExcel",
							"dataset": {
								"referenceName": "MIMSExcel_Nov30_2021",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared MIMSExcel_Nov30_2021 = let\r\n  AdfDoc = AzureStorage.BlobContents(\"https://smpkpi.blob.core.windows.net/mims/Core_KPI_File_allloads_Nov01_2021_to_Nov30_2021.xlsx\"),\r\n  Excel = Excel.Workbook(AdfDoc),\r\n  ExcelSheet = Excel{[Item=Excel{0}[Item],Kind=\"Sheet\"]}[Data],\r\n  PromotedHeaders = Table.PromoteHeaders(ExcelSheet, [PromoteAllScalars = true])\r\nin\r\n  PromotedHeaders;\r\nshared UserQuery = let\r\n  Source = MIMSExcel_Nov30_2021\r\nin\r\n  Source;\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MIMSExcel_Nov30_2021')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADcredential')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/5e4be3e5-0651-45cc-928f-1d9067cc4e52/resourcegroups/AOP/providers/Microsoft.ManagedIdentity/userAssignedIdentities/SMPKPIDataFactoryManagedIdentity"
				}
			},
			"dependsOn": []
		}
	]
}